.container {
  display: flex;
  height: 100vh;
}

.dashboardHeader {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.sidebar {
  width: 250px;
  background-color: #f5f5dc; 
  padding: 20px;
}

.sidebarMenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebarMenu li {
  margin-bottom: 10px;
}

.sidebarMenu h2 {
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
}

.sidebarMenu ul {
  list-style: none;
  padding: 0;
  margin-left: 20px;
}

.sidebarMenu ul li a {
  display: block;
  padding: 4px;
  color: #333;
  text-decoration: none;
}

.sidebarMenu ul li a:hover {
  background-color: #ffa500;
  color: #fff;
}


h2.task{
  color:orangered;
}

h2.view{
  margin-top:30px;
  margin-left:1200px;
  font-size: medium;


}

.overdueDropdown{
  margin-left:40px;
}

.content{
  margin-top:20px;
  margin-left:40px;
}
