.launchButtonContainer {
  display: flex;
  justify-content: flex-end; /* Align the button to the right */
  padding: 10px; /* Provide some padding */
  width: 95%;
  margin-bottom: 10px;
}

.launchButton {
  width: 200px;
  height: 50px;
  padding: 3px 10px; /* Adjust padding as needed */
  background-color: #f35626; /* Specific blue color */
  color: white;
  border-radius: 30px; /* Rounded corners */
  border: none;
  cursor: pointer;
  font-size: 16px; /* Adjust font size as necessary */
}


@media (max-width: 768px) {
  .launchButton {
    width: 150px;
    height: 45px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .launchButton {
    width: 120px;
    height: 40px;
    font-size: 12px;
  }
}
